<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/add'}" method="post">
  <input type="text" name="name" placeholder="Веди имя">
  <input type="text" name="fame" placeholder="Веди фамилию">
  <input type="text" name="otch" placeholder="Веди отчество">
  <input type="text" name="place" placeholder="Веди место">
  <input type="text" name="zp" placeholder="Веди зарплату">
  <br>
  <button type="submit">Добавить человека</button>
</form>
<form th:action="'/show'">
    <button>GO BACK</button>
</form>
</body>
</html>