<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/add2'}" method="post">
  <input type="text" name="name" placeholder="Веди имя">
  <input type="text" name="avtor" placeholder="Веди автора">
  <input type="text" name="year" placeholder="Веди год">
  <input type="text" name="count" placeholder="Веди кол-во">
  <input type="text" name="price" placeholder="Веди цену">
  <br>
  <button type="submit">Добавить книгу</button>
</form>
<form th:action="'/show2'">
    <button>GO BACK</button>
</form>
</body>
</html>