<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Адрес</th>

    </tr>
    <tr  th:each="al:${posts}">
        <td th:text="${al.name}"></td>
        <td th:text="${al.fame}"></td>
        <td th:text="${al.otch}"></td>
        <td th:text="${al.adress}"></td>


        </td>
    </tr>
</table>
<form th:action="'/customer/add'">
    <button>Добавить новую запись</button>
</form>
<form th:action="'/'">
    <button>GO BACK</button>
</form>
</body>
</html>